<div class="social-media">
  <a href='{{ shop.metafields["global"]["facebook"] }}'>Facebook</a>
  <a href='{{ shop.metafields["global"]["twitter"] }}'>Twitter</a>
  <a href='{{ shop.metafields["global"]["instagram"] }}'>Instagram</a>
  <a href='{{ shop.metafields["global"]["pinterest"] }}'>Pinterest</a>
  <a href='{{ shop.metafields["global"]["youtube"] }}'>Youtube</a>
</div>