<div class="mm-metafields">
  
  <h3>File</h3>
  {{ article.metafields["global"]["test-file"] }}
  <h3>HTML</h3>
  {{ article.metafields["global"]["test-html"] }}
  <h3>Image</h3>
  {{ article.metafields["global"]["test-image"] }}
  <h3>String</h3>
  {{ article.metafields["global"]["test-string"] }}
  <h3>Integer</h3>
  {{ article.metafields["global"]["test-integer"] }}
  
</div>